<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MetroUI_Form.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <MetroUI_Form.My.MySettings>
            <setting name="username" serializeAs="String">
                <value>xyz123</value>
            </setting>
            <setting name="firstrun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="datasend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="headerclr" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="ExpandURLWhenHover" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useragent" serializeAs="String">
                <value>Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US) AppleWebKit/534.13 (KHTML, like Gecko) Canure/2.3.1.0</value>
            </setting>
            <setting name="lastvisitedurl" serializeAs="String">
                <value>http://www.google.com</value>
            </setting>
            <setting name="WindowPositionOnScreen" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="bpaorefreshrate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="showbpaostartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hdrthinstripclr" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="qkacessmenu" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="solcentre" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="syncftpserver" serializeAs="String">
                <value>demclub.com</value>
            </setting>
            <setting name="syncusername" serializeAs="String">
                <value>demclubc</value>
            </setting>
            <setting name="syncpassword" serializeAs="String">
                <value>xyz123</value>
            </setting>
            <setting name="homepage" serializeAs="String">
                <value />
            </setting>
            <setting name="browserGUID" serializeAs="String">
                <value />
            </setting>
            <setting name="rv_2" serializeAs="String">
                <value>http://www.facebook.com</value>
            </setting>
            <setting name="rv_1" serializeAs="String">
                <value>http://www.google.com</value>
            </setting>
            <setting name="rv_3" serializeAs="String">
                <value>http://www.wikipedia.org</value>
            </setting>
            <setting name="privatebrowsing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="httppipeline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rv_6" serializeAs="String">
                <value>http://www.youtube.com</value>
            </setting>
            <setting name="rv_5" serializeAs="String">
                <value>http://www.hotmail.com</value>
            </setting>
            <setting name="rv_4" serializeAs="String">
                <value>http://www.cnn.com</value>
            </setting>
            <setting name="sdrequirerecache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useplugins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useJS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useJava" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableGrammarCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableContinousSpellCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAcceleratedCompositing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyNetworkChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyNetworkChangeInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Green</value>
            </setting>
        </MetroUI_Form.My.MySettings>
    </userSettings>
</configuration>
